{% load staticfiles %}
<head>
  <title>Codis修改</title>
  <link rel="stylesheet" href="http://apps.bdimg.com/libs/bootstrap/3.3.0/css/bootstrap.min.css">
   <script src="http://apps.bdimg.com/libs/jquery/2.1.1/jquery.min.js"></script>
   <script src="http://apps.bdimg.com/libs/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<head>
<style>
.waitingpic {
        float:left;
        display:inline;
        height:17px;
        width:17px;
        background:url("/static/img/animationProcessing.gif") left no-repeat;
    }
</style>
<script type="text/javascript" src="/static/js/tools.js"  charset="utf-8"></script>
<script type="text/javascript">
	$(document).ready(function(){
	    var tooltipconf = {
             'host_ip': {
                 'placement': 'right',
                 'title': '必填：请输入host_ip'
             },
             'host_user': {
                 'placement': 'right',
                 'title': '必填：请输入要host_user'
             },
             'host_passwd': {
                 'placement': 'right',
                 'title': '必填：请输入host_passwd'
             },
             'memory_total': {
                 'placement': 'right',
                 'title': '必填：请输入memory_total'
             },
             'codis_home': {
                 'placement': 'right',
                 'title': '必填：请输入codis_home'
             },
            }
            $.each(tooltipconf,function(id,options){
                $('#'+id).tooltip(options);
            })
            var message = $('#mess').val();
            if(message=='1'){
	        Tools.set_notification('添加失败,该Hostip已被征用');
                return false;
		//setTimeout('window.location.href = "/addhostform/"',3000);
            };
	    if(message=='2'){
		Tools.set_notification('添加成功');
		setTimeout('window.location.href = "/"',2000);
            }
        });
	function saveCode(){
            //var name = $('#product_id').val().replace(/^\s+/,'').replace(/\s+$/,'');
            //var need_memory = $('#need_memory').val().replace(/^\s+/,'').replace(/\s+$/,'');
            //if(name == "" || !/^[\u4e00-\u9fa5_0-9A-Z-_a-z]*$/.test(name)){
            //    Tools.set_notification('请输入正确的机器id');
            //    return false;
            //}
            //if(need_memory == "" || !/^[\u4e00-\u9fa5_0-9A-Z-_a-z]*$/.test(need_memory)){
            //    Tools.set_notification('请输入正确的空间大小值');
            //    return false;
            //}
	    //if (name.length>30 || need_memory.length>30){
	    //	Tools.set_notification('您输入的编码超过最大长度');
            //    return false;
	    //}
	    $("#newcodeform").submit();
            Tools.set_notification('<span class="waitingpic"></span>&nbsp;正在添加，请勿关闭窗口',true);
        };
        function backnewcode(){
           window.location.href="/dbcenter/codis/";
        };

</script>
<style>
    .width40 {
        width:40% !important
    }
    
    .width60 {
        width:60% !important
    }
    
    .width80 {
        width:80% !important
    }
</style>
{# 建表主体内容 #}
<div class="container" style="max-width: 1320px;">
    <form class="form-horizontal" id="newcodeform" action="/dbcenter/codis/updatehost2db/" method="post">
	<input type = "hidden" id = "mess" value="{%if mess%}{{mess}}{%endif%}">
	{% csrf_token %}
        <fieldset>
          <legend>
            <span class="glyphicon glyphicon-th"></span>&nbsp;Codis修改
          </legend>
        </fieldset>
        <div class="form-group">
            <input type="text" name="codis_id", id="codis_id", value="{{hostinfo.CodisID}}" hidden>
            <label for="id_name" class="col-lg-2 control-label">ProductName</label>
            <div class="col-lg-9">
                <input type="text" name="productname" id="productname" value="{{ hostinfo.ProductName }}" class="form-control width40"  >
            </div>
        </div>
        <div class="form-group">
            <label for="id_name" class="col-lg-2 control-label">Dashboard</label>
            <div class="col-lg-9">
                <input type="text" name="dashboard" id="dashboard" value="{{hostinfo.Dashboard}}" class="form-control width40"  >
            </div>
        </div>
        <div class="form-group">
            <label for="id_name" class="col-lg-2 control-label">Description</label>
            <div class="col-lg-9">
                <textarea name="description" id="description" class="form-control width40" rows="3" >{{hostinfo.Description}} </textarea>
            </div>
        </div>
        <div class="form-actions" align="center">
            <button type="submit" class="btn btn-primary" onclick="saveCode();">保存</button>
            <button type="button" class="btn btn-primary" onclick="backnewcode();">返回</button>
        </div>
    </form>
</div>

