{% extends 'base.html' %}
{% load staticfiles %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        {# 必要的CSS #}
        
        <LINK REL=stylesheet HREF="{% static "css/bootstrap.css" %}" TYPE="text/css">
        {# 必要的CSS结束 #}
        
        {# jquery优先加载 #}
    <script src="{% static  "js/jquery.js" %}"></script>
    <script src="{% static "js/jquery-2.0.3.min.js" %}"></script>
        {# bootstrap优先加载 #}
    <script src="{% static "js/bootstrap.min.js" %}"></script>

        {# 其他HEAD内容，子模板请覆盖此处 #}
        {% block header_content %}{% endblock %}
    {# 其他HEAD结束 #}
</head>
<body>

{% block content %}


<div class="container">
<div role="tabpanel" class="tab-pane" id="messages">
        <div class="panel panel-default" style="margin:20px;" >
            <div class="panel-heading" style="width:100%;"><h3 class="panel-title"><B>公共Codis统计信息</B>--{{t}}</h3></div>
            <div style="width:100%;">
                <table  class="table table-striped table-bordered table-condensed">
                    <tr >
                          <td>序号</td>
                          <td>prefix</td>
                          <td>业务名</td>
                          <td>key总数</td>
                          <td>占用内存</td>
                          <td>op负责人</td>
                          <td>开发负责人</td>
                          <td>接入时间</td>
                    </tr>
                    {% if prefixList %}
                      {% for prefix in prefixList %}
                      <tr>
                        <td>{{ forloop.counter }}</td>
                        {% for k, cc in prefixCounter.items %}
                          {% if k == prefix %}
                            <td>{{prefix}}</td>
                            {% for c in cc %}
                            <td>{{c}}</td>
                            {% endfor %}
                          {% endif %}
                        {% endfor %}
                      </tr>
                      {% endfor %}
                    {% else %}
                      <p> NO CODIS ARE AVAILABLE.</p>
                    {% endif %}
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>

{% endblock %}
